# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# uv
.uv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 